hal_client_domain(system_app, hal_mlipay)


allow system_app system_data_file:dir { write };
allow system_app sysfs_zram:dir { search read };
allow system_app sysfs_zram:file { read open getattr };
allow system_app vendor_default_prop:file { getattr map open read };
